/* .stepper {
    --button-text-color : var(--tg-theme-button-text-color);
	--button-background-color : var(--tg-theme-button-color);
	--input-background-color: var(--tg-theme-bg-color);
	--input-width: '22px';
} */

.adm-button-disabled {
    display: none;
}

:root {
    --adm-color-primary: var(--tg-theme-button-color);
    --adm-color-border: transparent;
    --adm-color-fill-content: var(--tg-theme-secondary-bg-color);
}