@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  user-select: none;

  /* 适配安全区 */
  --safe-area-inset-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh)) --adm-color-primary:
    var(--tg-theme-button-color);

  --bg-color: var(--tg-theme-bg-color);
  --text-color: var(--tg-theme-text-color);
  --secondary-color: var(--tg-theme-secondary-bg-color);
  --hint-color: var(--tg-theme-hint-color);
  --button-color: var(--tg-theme-button-color);
  --button-text-color: var(--tg-theme-button-text-color);

  color: var(--text-color);
  background-color: var(--secondary-color);
  padding-bottom: var(--safe-area-inset-bottom);
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
/* 隐藏滚动条但保留滚动功能 */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}

.hint {
  color: var(--hint-color);
}

.primary {
  background-color: var(--bg-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}
